ttts/datasets/*
ttts/data/*
*/**/*.pt
*/**/*.pyc
*/**/logs/*
*/**/*.txt
*/**/*.jsonl
*/**/*.bin
ttts/pretrained_models/*
*/**/*.m4a
ttts.egg-info/*
.vscode/*
damo/*
.cache/*
*/**/*.wav
*/**/*.mp3
*/**/*.7z
!ttts/*.wav
ast_indexer